body {
  background-color: #fffd86;
  font-family: "Heebo";
  overflow: hidden;
  height: 100%;
  visibility: hidden;
}

/* Nav */

#nav {
  background-color: black;
  margin: -10px;
  height: 7%;
  width: 110%;
  color: white;

  position: fixed;
  top: 0px;

  animation-name: navStart;
  animation-duration: 1s;
  
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

li {
  display: inline;
  font-size: 4.7vh;
}

a:hover {
  background-color: rgb(66, 66, 66);
  }

a {
  text-decoration: none;
  color: white;
  padding-right: 100px;

  text-align: center;
}

/* Canvas */

canvas {
  background-color: white;
  width:  100%;
  height: 100%;
  margin: 0;

  position: absolute;
  left: -2.5px;
  padding-top: 5px;
  border-style: solid;
  border-color: black;

  animation-name: canvasStart;
  animation-duration: 2s;
}

/* Loader */

#loader-text {
  color: rgb(20, 160, 202);
  position: absolute;
  top: 30%;
  left: 49%;
  transform: translate(-51%, -70%);
  font-family: "Heebo";
  font-size: 200%;
  visibility: visible;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 35%;
  left: 43%;
  transform: translate(-57%, -65%);
  visibility: visible;
}

/* Animations */

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes navStart {
  0% {
    position: absolute;
    top: -7%;
  }
  10% {
    position: absolute;
    top: -7%;
  }
  100% {
    position: absolute;
    top: 0px;
  }
}

@keyframes canvasStart {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}